body {
  transition: background-color 1.1s ease;
  /* font-family: Droid Serif, sans-serif; */
}
h1 {
  color: aliceblue;
}
#liveToastBtn {
  margin: 20px;
}

.card-title {
  padding-bottom: 20px;
  font-size: larger;
  width: 65%;
}

.shadowed {
  box-shadow: 14px 19px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 14px 19px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 14px 19px 10px 0px rgba(0, 0, 0, 0.25);
}

.card {
  position: relative;
  margin-top: 30px;
  height: 340px;
  max-width: 95%;
  max-height: fit-content;
}
.smallText {
  position: absolute;
  bottom: 0px;
  left: 8px;
}

#author {
  font-size: 28px;
}
#text {
  font-size: 25px;
}

#author,
#text {
  transition: opacity 0.8s;
}

#new-quote {
  transition: background-color 1.3s ease;
  position: absolute;
  padding: 18px;
  bottom: 5px;
  margin: 20px;
}
#new-quote:focus {
  outline: none;
  box-shadow: none;
}

.tweet,
.copy,.whatsapp {
  margin: 18px;
  font-size: 20px;
  width: max-content;
  height: max-content;
  padding: 7px 12px 7px;
  display: block;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0;
  transition: background-color 1.5s ease;
}
.tweet > a,.whatsapp > a{
  color: white !important;
}
.dropdown-menu {
    padding: 0;
    background-color: none;
    transform: translate(-15px, 30px) !important;
    border: none;
}

.genbtn{
   margin: 18px;
  font-size: 20px;
  width: max-content;
  height: max-content;
  padding: 7px 12px 7px;
  display: block;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  right: 60px;
  transition: background-color 1.5s ease;
}

.copy {
  /* top: 0px; */
  right: 50px;
}
.whatsapp{
  right: 100px;
}

#search {
  margin-top: 120px;
  width: 90%;
}
.list-group-item {
  color: inherit;
}
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
  color: #fff;
  border-color: white !important;
}
.btn,
.btn:hover {
  color: white;
  border-color: white;
}

.btn-close {
  font-size: 18px;
}
.searchQ {
  margin-top: 60px;
  width: 60%;
}
.vis {
  opacity: 0;
}
.sho {
  opacity: 1;
}
.hider {
  display: none;
}

.say {
  margin-top: 40px;
  height: fit-content;
  width: 60%;
}
#search {
  width: 80%;
  justify-content: center;
}
#search > .card > .card-body > h5 {
  font-size: 30px;
}

#search > .card > .card-body > p {
  font-size: 20px;
}

.searchQ > .col-auto > .form-control {
  width: 45vw;
}
.deSearch {
  width: 65%;
  height: fit-content;
  margin: 10vw auto 15vw;
}
.badgeCol {
  color: #fff;
}

/* Small Phones */
@media only screen and (max-width: 600px) {
  #author {
    font-size: 20px;
  }
  #text {
    margin-top: 45px;
    font-size: 15.5px;
  }
  #search > .card > .card-body > h5 {
    font-size: 15px;
  }

  #search > .card > .card-body > p {
    font-size: 12px;
  }
  .deSearch {
    width: 85%;
    margin: 40vw auto 15vw;
  }
  #search > .card {
    width: 90%;
  }
  .searchQ > .col-auto > .form-control {
    width: 50vw;
  }
  .copy {
    right: 40px;
  }
  .whatsapp{
    right:80px;
  }
  .tweet,
  .copy,.whatsapp {
    top: 10px;
    margin: 5px;
    font-size: 10px;
  }
  #new-quote {
    font-size: 0.8rem;
    bottom: 0;
    padding: 13px;
    margin: 2px;
  }
  .dater {
    font-size: 10px;
  }
  #liveToast {
    width: 90vw;
  }
}
