@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alegreya:ital,wght@0,500;1,500&family=Alice&family=Amatic+SC:wght@700&family=Coustard&family=Dancing+Script:wght@600&family=Lato:ital@1&family=Leckerli+One&family=Lora:ital,wght@1,500&family=Medula+One&family=Merriweather:ital@1&family=Oswald&family=Pacifico&family=Permanent+Marker&family=Playfair+Display&family=Rock+Salt&family=Yanone+Kaffeesatz&display=swap');

body {
  transition: background-color 1.1s ease;
}

h1 {
  padding-top: 10vh;
  color: aliceblue;
}
#liveToastBtn {
  margin: 20px;
}

.card-title {
  padding-bottom: 20px;
  font-size: larger;
  width: 65%;
}

.shadowed {
  box-shadow: 14px 19px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 14px 19px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 14px 19px 10px 0px rgba(0, 0, 0, 0.25);
}

.card {
  position: relative;
  margin-top: 30px;
  height: 340px;
  max-width: 95%;
  max-height: fit-content;
  transition: all 1s;
}
.smallText {
  position: absolute;
  bottom: 0px;
  left: 8px;
}

#author {
  font-size: 28px;
}
#text {
  font-size: 25px;
}

#author,
#text {
  transition: opacity 0.8s;
}

#new-quote {
  transition: background-color 1.3s ease;
  position: absolute;
  padding: 18px;
  bottom: 5px;
  margin: 20px;
}
#new-quote:focus {
  outline: none;
  box-shadow: none;
}

#Dynamic_Quotes {
  width: 75vw;
  height: max-content;
  padding-top: 10vh;
  margin: 15px auto 12vh;
}
#Dynamic_Quotes > #DynamicQuotes {
  min-height: 120px;
  height: fit-content;
}
#Static_Unit {
  padding-top: 10vh;
}
#Search_Unit {
  margin-top: 15vh;
  padding-top: 10vh;
}

.tweet,
.copy,
.whatsapp {
  margin: 18px;
  font-size: 20px;
  width: max-content;
  height: max-content;
  padding: 7px 12px 7px;
  display: block;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0;
  transition: background-color 1.5s ease;
}
.tweet > a,
.whatsapp > a {
  color: white !important;
}
.dropdown-menu {
  padding: 0;
  background-color: none;
  transform: translate(-15px, 30px) !important;
  border: none;
}

.genbtn {
  margin: 18px;
  font-size: 20px;
  width: max-content;
  height: max-content;
  padding: 7px 12px 7px;
  display: block;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  right: 60px;
  transition: background-color 1.5s ease;
}

.copy {
  /* top: 0px; */
  right: 50px;
}
.whatsapp {
  right: 100px;
}

#search {
  margin-top: 120px;
  width: 90%;
}
.list-group-item {
  color: inherit;
  transition: all 1s;
}
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
  color: #fff;
  border-color: white !important;
}
.btn,
.btn:hover {
  color: white;
  border-color: white;
}

.btn-close {
  font-size: 18px;
}
.searchQ {
  /* margin-top: 60px; */
  transform: translate(-100%, 50px) !important;
  width: 60%;
}
.list-group-item {
  background-color: inherit;
}

.vis {
  opacity: 0;
}
.sho {
  opacity: 1;
}
.hider {
  display: none;
}

.say {
  margin-top: 40px;
  height: fit-content;
  width: 85%;
}
#search {
  width: 80%;
  justify-content: center;
}
#search > .card > .card-body > h5 {
  font-size: 30px;
}

#search > .card > .card-body > p {
  font-size: 20px;
}

.searchQ > .col-auto > .form-control {
  width: 75vw;
  height: auto;
  margin: auto;
  transition: all 1s;
}
.deSearch {
  width: 85%;
  height: fit-content;
  margin: 10vw auto 15vw;
  padding-bottom: 12px;
}
.badgeCol {
  color: #fff;
}
.tawk-min-container {
  display: none !important;
}
iframe {
  display: none !important;
}
#body_section {
  z-index: 4;
  position: relative;
  background-color: inherit;
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px, rgb(0 0 0 / 5%) 0px 10px 15px -5px,
    rgb(0 0 0 / 4%) 0px 7px 7px -5px;
  /* padding-bottom: 12px; */
}
.footer {
  padding-bottom: 12vh;
  padding-top: 20vh;
  height: 3vh;
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
/* For the footer */
@media only screen and (max-width: 767px) {
  .footer {
    padding-top: 0vh;
    position: relative;
    padding-bottom: 15vh;
    z-index: 0;
  }
  #body_section {
    z-index: 0;
    position: relative;
    background-color: inherit;
    box-shadow: none;
  }
}
/* Small Phones */
@media only screen and (max-width: 600px) {
  #author {
    font-size: 20px;
  }
  #text {
    margin-top: 45px;
    font-size: 15.5px;
  }
  #search > .card > .card-body > h5 {
    font-size: 15px;
  }

  #search > .card > .card-body > p {
    font-size: 12px;
  }
  .deSearch {
    width: 85%;
    margin: 20vw auto 15vw;
  }
  #search > .card {
    width: 90%;
  }
  .searchQ > .col-auto > .form-control {
    width: 50vw;
  }
  .copy {
    right: 52px;
  }
  .whatsapp {
    right: 106px;
  }
  .tweet,
  .copy,
  .whatsapp {
    top: 10px;
    margin: 5px;
    font-size: 22px;
  }
  #new-quote {
    font-size: 0.8rem;
    bottom: 0;
    padding: 13px;
    margin: 2px;
  }
  .dater {
    font-size: 10px;
  }
  #liveToast {
    width: 90vw;
  }
}
/* Safari Browser */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    #author {
      font-size: 20px;
    }
    #text {
      margin-top: 45px;
      font-size: 15.5px;
    }
    #search > .card > .card-body > h5 {
      font-size: 15px;
    }

    #search > .card > .card-body > p {
      font-size: 12px;
    }
    .deSearch {
      width: 85%;
      margin: 20vw auto 15vw;
    }
    #search > .card {
      width: 90%;
    }
    .searchQ > .col-auto > .form-control {
      width: 50vw;
    }
    .copy {
      right: 52px;
    }
    .whatsapp {
      right: 106px;
    }
    .tweet,
    .copy,
    .whatsapp {
      top: 10px;
      margin: 5px;
      font-size: 22px;
    }
    #new-quote {
      font-size: 0.8rem;
      bottom: 0;
      padding: 13px;
      margin: 2px;
    }
    .dater {
      font-size: 10px;
    }
    #liveToast {
      width: 90vw;
    }
  }
}
/* Another Safari Hack */
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  #author {
    font-size: 20px;
  }
  #text {
    margin-top: 45px;
    font-size: 15.5px;
  }
  #search > .card > .card-body > h5 {
    font-size: 15px;
  }

  #search > .card > .card-body > p {
    font-size: 12px;
  }
  .deSearch {
    width: 85%;
    margin: 20vw auto 15vw;
  }
  #search > .card {
    width: 90%;
  }
  .searchQ > .col-auto > .form-control {
    width: 50vw;
  }
  .copy {
    right: 52px;
  }
  .whatsapp {
    right: 106px;
  }
  .tweet,
  .copy,
  .whatsapp {
    top: 10px;
    margin: 5px;
    font-size: 22px;
  }
  #new-quote {
    font-size: 0.8rem;
    bottom: 0;
    padding: 13px;
    margin: 2px;
  }
  .dater {
    font-size: 10px;
  }
  #liveToast {
    width: 90vw;
  }
}
