#new-quote {
  margin: 15px;
}
.card-title {
  padding-bottom: 20px;
  font-size: larger;
}

.card {
  position: relative;
  margin-top: 30px;
  height: 340px;
  max-width: 95%;
  max-height: fit-content;
  box-shadow: 4px 4px 33px 21px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 4px 4px 33px 21px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 4px 4px 33px 21px rgba(0, 0, 0, 0.48);
}

.smallText {
  position: absolute;
  bottom: 0px;
  left: 8px;
  bottom: 5px;
}

body {
  transition: background-color 1.1s ease;
}

#author {
  font-size: 28px;
}
#text {
  font-size: 25px;
}

#new-quote {
  transition: background-color 1.3s ease;
  position: absolute;
  bottom: 0px;
}
#new-quote:focus {
  outline: none;
  box-shadow: none;
}

h1 {
  color: aliceblue;
}

.tweet {
  margin: 18px;
  font-size: 20px;
  width: max-content;
  height: max-content;
  padding: 7px 12px 7px;
  display: block;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0;
  transition: background-color 1.5s ease;
}
.tweet > a {
  color: white !important;
}

.copy {
  margin: 18px;
  font-size: 20px;
  width: max-content;
  height: max-content;
  padding: 7px 12px 7px;
  display: block;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 50px;
  transition: background-color 1.5s ease;
}
.copy > a {
  color: white !important;
}

#search {
  margin-top: 120px;
  width: 90%;
}

#search > .form-floating {
  width: 50%;
}

.form-floating{
 box-shadow: 4px 4px 33px 21px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 4px 4px 33px 21px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 4px 4px 33px 21px rgba(0, 0, 0, 0.48);
}