body {
  transition: background-color 1.1s ease;
}
h1 {
  color: aliceblue;
}
#liveToastBtn {
  margin: 20px;
}

.card-title {
  padding-bottom: 20px;
  font-size: larger;
}

.shadowed {
  box-shadow: 14px 19px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 14px 19px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 14px 19px 10px 0px rgba(0, 0, 0, 0.25);
}

.card {
  position: relative;
  margin-top: 30px;
  height: 340px;
  max-width: 95%;
  max-height: fit-content;
}

.smallText {
  position: absolute;
  bottom: 0px;
  left: 8px;
  bottom: 5px;
}

#author {
  font-size: 28px;
}
#text {
  font-size: 25px;
}

#new-quote {
  transition: background-color 1.3s ease;
  position: absolute;
  bottom: 0px;
  margin: 15px;
}
#new-quote:focus {
  outline: none;
  box-shadow: none;
}

.tweet {
  margin: 18px;
  font-size: 20px;
  width: max-content;
  height: max-content;
  padding: 7px 12px 7px;
  display: block;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0;
  transition: background-color 1.5s ease;
}
.tweet > a {
  color: white !important;
}

.copy {
  margin: 18px;
  font-size: 20px;
  width: max-content;
  height: max-content;
  padding: 7px 12px 7px;
  display: block;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 50px;
  transition: background-color 1.5s ease;
}
.copy > a {
  color: white !important;
}

#search {
  margin-top: 120px;
  width: 90%;
}
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
  color: #fff;
  border-color: white !important;
}
.btn,
.btn:hover {
  color: white;
  border-color: white;
}

.btn-close{
  font-size: 18px;
}
.searchQ {
  width: 70%;
  padding: 20px 150px 20px;
}
.say {
  margin: 40px;
  height: fit-content;
}
